/saas_project/local_settings.py
/db.sqlite3
/app01/migrations/0002_auto_20220629_1041.py
/web/migrations/0001_initial.py

/web/static/plugin/editor-md/docs/
/web/static/plugin/editor-md/examples/
/web/static/plugin/editor-md/.gitignore
/venv_win/
/scripts/test.py
/.idea/aws.xml
