{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    {% block css %}{% endblock %}
</head>
<body>

    <h1>头部菜单</h1>
    {% block content %}{% endblock %}

    <!--引入的jquery必须在bootstrap/js上边，因为B是基于J做的-->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'plugin/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
    {% block js %}{% endblock %} <!--javascript一直都要放在body标签内的最下面-->
</body>
</html>