{% extends 'layout/manage.html' %}
{% load static %}
{% block css %}
    <style>
        .panel-default .panel-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .panel-default > .panel-heading a {
            text-decoration: none;
        }

        .panel-default > .panel-heading span {
            padding: 0 5px;
        }

        .panel-default > .panel-heading .function .upload {
            overflow: hidden; /* 超出长度部分隐藏 */
        }

        .panel-default > .panel-heading .function .upload input {
            /* 用于隐藏原生上传文件按钮，并且调整大小 */
            opacity: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 76px;
            left: -2px;
            overflow: hidden;
        }

        .upload-progress {
            /* 进度条样式，显示在浏览器的右下角 */
            position: fixed; /* 固定在窗口*/
            right: 2px; /*距离右边框2像素*/
            bottom: 2px;
            width: 400px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-top: 20px;">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <!--左边-->
                <div>
                    <a href="{% url 'file' project_id=request.tracer.project.id %}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>文件库</span>
                    </a>
                    {% for record in breadcrmb_list %}
                        <a href="{% url 'file' project_id=request.tracer.project.id %}?folder={{ record.id }}">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <span>{{ record.name }}</span>
                        </a>
                    {% endfor %}
                </div>
                <!--右边-->
                <div class="function">
                    {#                    <input type="file" multiple/>   <!--文件选择按钮-->#}
                    <div class="btn btn-primary upload" style="position: relative">
                        <div><i class="fa fa-upload" aria-hidden="true"></i> 上传文件</div>
                        <!--input框无法通过样式更改外观，需要用另一个按钮放在下方，然后把input框变成透明-->
                        <input type="file" multiple name="uploadFile" id="uploadFile">
                    </div>
                    <a href="#" type="button" class="btn btn-success" data-toggle="modal"
                       data-target="#addModal" data-whatever="新建文件夹">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> 新建文件夹
                    </a>
                </div>
            </div>

            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>文件大小</th>
                    <th>更新者</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="rowList">
                {% for item in file_object_list %}
                    <tr>
                        <td>
                            {% if item.file_type == 2 %}
                                <a href="{% url 'file' project_id=request.tracer.project.id %}?folder={{ item.id }}">
                                    <i class="fa fa-folder" aria-hidden="true"></i>
                                    {{ item.name }}
                                </a>
                            {% else %}
                                <i class="fa fa-file" aria-hidden="true"></i>
                                {{ item.name }}
                            {% endif %}
                        </td>
                        <td>
                            {% if item.file_type == 1 %}
                                {{ item.file_size }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{{ item.update_user.username }}</td>
                        <td>{{ item.update_datetime }}</td>
                        <td>
                            {% if item.file_type == 2 %}
                                <a href=""
                                   class="btn btn-primary edit"
                                   data-toggle="modal"
                                   data-target="#addModal"
                                   data-name="{{ item.name }}"
                                   data-fid="{{ item.id }}"
                                   data-whatever="修改名称">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            {% else %}
                                <a href="{% url 'file_download' project_id=request.tracer.project.id file_id=item.id %}"
                                   class="btn btn-default">
                                    <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                            <a href=""
                               class="btn btn-danger delete"
                               data-toggle="modal"
                               data-target="#alertModal"
                               data-fid="{{ item.id }}"
                               style="color:white;">
                                <i class="fa fa-trash" aria-hidden="true"></i>

                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal 添加&编辑 -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        {% csrf_token %}
                        <input class="hide" type="text" name="fid" id="fid"> <!--隐藏的输入框，用于携带文件夹id-->
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                <span class="error-msg"{{ field.errors.0 }}></span>
                            </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                    <button id="btnFormSubmit" type="button" class="btn btn-primary">保 存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 删除 -->
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4>确定删除？</h4>
                <p>文件夹内包含的所有文件都会被删除！</p>
                <p style="text-align: right;">
                    <a class="btn btn-default btn-sm" data-dismiss="modal" aria-label="close">取 消</a>
                    <button id="btnDelete" type="button" class="btn btn-danger">确 定</button>
                </p>
            </div>
        </div>
    </div>

    <!-- 上传进度条 -->
    <div id="uploadProgress" class="upload-progress hide"> <!-- hide:上传开始前，默认为隐藏 -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i> 上传进度
            </div>

            <table class="table">
                <tbody id="progressList">


                </tbody>
            </table>
        </div>

        <div class="hide"> <!-- 进度条模板 -->
            <table id="progressTemplate">
                <tr>
                    <td>
                        <div class="name"></div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 0%;">
                                0%
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- 文件条目模板 -->
    <div class="hide">
        <table id="rowTpl">
            <tr>
                <td>
                    <i class="fa fa-file" aria-hidden="true"></i>
                    <span class="name"></span>
                </td>
                <td class="file_size"></td>
                <td class="username"></td>
                <td class="datetime"></td>
                <td>
                    <a href="" class="btn btn-default download">
                        <i class="fa fa-cloud-download" aria-hidden="true"></i>
                    </a>
                    <a href="" class="btn btn-danger delete" data-toggle="modal" data-target="#alertModal">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/cos-js-sdk-v5.min.js' %}"></script>
    <script>
        var FOLDER_URL = '{% url 'file' project_id=request.tracer.project.id %}';
        var FILE_DELETE_URL = '{% url 'file_delete' project_id=request.tracer.project.id %}';
        var COS_CREDENTIAL = "{% url 'cos_credential' project_id=request.tracer.project.id %}";
        var FILE_POST_URL = '{% url 'file_post' project_id=request.tracer.project.id %}';
        var CURRENT_FOLDER_ID = '{{ folder_object.id }}'

        // cos_object移到函数内部，因为我们想要通过请求临时凭证的同时，用post方法向后台传文件的大小，以便实现限制容量的功能

        $(function () {
            initAddModal();
            bindModelSubmit();
            bindDeleteSubmit();
            bindUploadFile();
        });

        function initAddModal() {
            $('#addModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // 获取addModal所在标签的data-whatever属性
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var name = button.data('name')
                var fid = button.data('fid') // fid存在表示modal框为编辑文件夹名，不存在表示modal框为新建文件夹
                var modal = $(this)

                if (fid) {
                    //编辑文件夹
                    modal.find('#id_name').val(name);
                    modal.find('#fid').val(fid); // 隐藏输入框里携带此信息
                } else {
                    //新建文件夹
                    modal.find('.modal-title').text(recipient); // 在h4那个标签里自动填写左边的内容
                    modal.find('.error-msg').empty(); // 清除错误信息
                    // document.getElementById('form').reset(); // 清空表单内容
                    $('#form')[0].reset(); // 和上一行写法效果等价。
                    // modal.find('.modal-body input').val(recipient) // 这一行可以定义表单内的输入框预设值，包括csrftoken也会被覆盖！

                }
            })

            $('#alertModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var fid = button.data('fid')  // fid来自于trigger这个modal框的button，所以也是在那个button的a标签中从后端获取fid
                $('#btnDelete').attr('fid', fid); // 给btnDelete按钮（就是确定按钮）添加一个 fid=fid 的属性，这个id用于ajax中拼接url

            })
        }

        function bindModelSubmit() {
            $("#btnFormSubmit").click(function () {
                $.ajax({
                    url: location.href, // 获取当前浏览页面的url
                    type: 'POST',
                    data: $('#form').serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            location.reload();
                        } else {
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })
        }

        function bindDeleteSubmit() {
            $('#btnDelete').click(function () {
                // 获取要删除的id
                $.ajax({
                    url: FILE_DELETE_URL,
                    type: 'GET',
                    data: {fid: $(this).attr('fid')},
                    success: function (res) {
                        console.log(res);
                        location.reload();
                    }
                })
            })
        }

        function bindUploadFile() {
            $('#uploadFile').change(function () {
                var fileList = $(this)[0].files;
                // 获取本次要上传的没个文件的名称和大小，列表中的每个字典代表一个文件
                var checkFileList = [];
                $.each(fileList, function (index, fileObject) {
                    // console.log(fileObject)  //可以在console里查看文件对象所包含的属性，有name、size等
                    var fileName = fileObject.name;
                    var fileSize = fileObject.size;
                    var key = (new Date()).getTime() + '_' + fileName  // 生成一个唯一的key。第一个括号表示立刻执行函数
                    checkFileList.push({         // 向列表中添加一个字典元素
                        'name': fileObject.name,
                        'size': fileObject.size
                    })

                    // COS_OBJECT拿到下面来
                    // 把这些数据（name, size）发送到django后台：django后台进行容量校验，如果没有问题，则返回临时凭证，否则返回错误信息
                    var COS_OBJECT = new COS({
                        // 获取临时凭证
                        getAuthorization: function (options, callback) {
                            // 向django后台发送请求，获取临时凭证
                            // 相当于$.ajax({type:"GET"})
                            // 改成$.post就相当于$.ajax({type:"POST"})
                            // 注意这里用的是$.post($.ajax的简写式)，url,data,callback都是位置参数
                            $.post(COS_CREDENTIAL, JSON.stringify(checkFileList), function (res) {
                                if (res.status) {
                                    var credentials = res.data && res.data.credentials;
                                    callback({
                                        TmpSecretId: credentials.tmpSecretId,
                                        TmpSecretKey: credentials.tmpSecretKey,
                                        XCosSecurityToken: credentials.sessionToken,
                                        StartTime: res.data.startTime,
                                        ExpiredTime: res.data.expiredTime,
                                    });
                                    // 授权通过，展示进度条
                                    $('#uploadProgress').removeClass('hide')
                                } else {
                                    alert(res.error);
                                }
                            });
                        }
                    });

                    // 进度条的展示
                    var tr = $('#progressTemplate').find('tr').clone(); // 找到进度条模板，并克隆模板的标签
                    // $tr变量名，$用于标记此变量是个jquery对象
                    tr.find('.name').text(fileName); // 找到name标签，传入上传的文件名
                    $('#progressList').append(tr); // 找到装载进度条的面板，并把进度条塞进去

                    // 上传文件（异步）
                    COS_OBJECT.putObject({
                        Bucket: '{{ request.tracer.project.bucket }}',
                        Region: '{{ request.tracer.project.region }}',
                        Key: key, // 桶内文件不再用原文件名来命名，改用key
                        Body: fileObject,
                        onProgress: function (progressData) { // progressData就是上传文件的时候，cos端返回来的状态对象，是个字典
                            // console.log("文件上传进度---->", fileName, JSON.stringify(progressData));
                            // 动态展示进度条进度
                            var percent = progressData.percent * 100 + '%'; // 从状态对象中获取上传进度
                            console.log(percent);
                            tr.find('.progress-bar').text(percent); // 显示文本的展示，选择class别忘了'.'开头
                            tr.find('.progress-bar').css('width', percent); // 修改标签的style属性

                        }
                    }, function (err, data) {
                        // 代码运行到这里，说明验证、上传全都已经成功了
                        // cos服务端会返回一个状态对象data，里面存有状态码，对象在cos内的网址等信息
                        console.log(err || data);
                        if (data && data.statusCode === 200) {
                            // 上传成功，将本次上传的文件信息提交到后台
                            // 当前文件已上传成功
                            $.post(FILE_POST_URL, {
                                name: fileName,
                                key: key,
                                file_size: fileSize,
                                parent: CURRENT_FOLDER_ID,
                                etag: data.ETag, //
                                file_path: data.Location
                            }, function (res) {
                                // console.log(res);
                                // 在数据库中写入成功，将以添加的数据展示在页面上
                                var newTr = $('#rowTpl').find('tr').clone();
                                newTr.find('.name').text(res.data.name);
                                newTr.find('.file_size').text(res.data.file_size);
                                newTr.find('.username').text(res.data.username);
                                newTr.find('.datetime').text(res.data.datetime);
                                newTr.find('.delete').attr('data-fid', res.data.id); // 删除文件必须要带有fid
                                newTr.find('.download').attr('href', res.data.download_url);
                                $('#rowList').append(newTr)

                                tr.remove() // 上传完毕后 关闭进入条框框
                            })
                        } else {
                            // 上传失败
                            tr.find('.progress-error').text('上传失败')

                        }
                    });
                })
            });
        }
    </script>
{% endblock %}
