{% extends 'layout/manage.html' %}
{% load static %}
{% load issues %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugin/editor-md/css/editormd.min.css' %}">
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <style>
        .issues-list .number {
            width: 100px;
            text-align: right;
        }

        .issues-list .number a {
            font-weight: 500;
            padding: 0 10px;
        }

        .issues-list .issue .tags {
            padding: 10px 0;
        }

        .issues-list .issue .tags span {
            margin-right: 20px;
            display: inline-block;
            font-size: 12px;
        }

        .issues-list .issues .tags .type { /* 为什么这里的type未能被正确使用？*/
            color: white;
            padding: 1px 5px;
            border-radius: 5px;
        }

        .pd-0 {
            padding: 0 !important;
        }

        .editormd {
            margin-bottom: 0;
        }
    </style>


{% endblock %}

{% block content %}
    <!-- 左右面板 -->
    <div class="container-fluid clearfix" style="padding: 20px 0;"> <!--整体框架，自带20pix的边距-->
        <!--左面板-->
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-search" aria-hidden="true"></i> 筛选
                </div>
                <div class="panel-body">
                    筛选选项
                </div>

            </div>
        </div>
        <!--右面板-->
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">问题列表</div>
                <div class="panel-body">
                    <a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addModal">新建问题</a>
                    <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="">邀请成员</a>
                </div>
                <table class="table">
                    {% for item in issues_object_list %}
                        <tbody class="issues-list">
                        <tr>
                            <td class="number">
                                <i class="fa fa-circle text-{{ item.priority }}"></i>
                                <a target="_blank" href="#">{% string_just item.id %}</a>
                            </td>
                            <td class="issue">
                                <div>
                                    <a target="_blank" href="#">{{ item.subject }}</a>
                                </div>
                                <div class="tags">
                                    <span class="type"
                                          style="background-color: #56b8eb; border-radius: 5px; padding: 1px 5px; color: white">
                                        {{ item.issues_type.title }}
                                    </span>
                                    <span>
                                        <i class="fa fa-refresh" aria-hidden="true"></i>
                                        {{ item.get_status_display }}
                                    </span>
                                    <span>
                                        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                        {{ item.assign.username }}
                                    </span>
                                    <span>
                                        <i class="fa fa-user-o" aria-hidden="true"></i>
                                        {{ item.creator.username }}
                                    </span>
                                    <span>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> {{ item.end_date }} 截止
                                    </span>
                                    <span>
                                        <i class="fa fa-clock-o"
                                           aria-hidden="true"></i> {{ item.latest_update_datetime }} 更新
                                    </span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            <nav aria-label="...">
                <ul class="pagination" style="margin-top: 0;">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
                    </li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>

    </div>

    <!-- 新建问题模态框 -->
    <div id="addModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span> <!--&times就是一个x符号(乘号)-->
                    </button>
                    <h4 class="modal-title" id="myModalLabel">新建问题</h4>
                </div>
                <div class="modal-body" style="padding-right: 40px;">
                    <form id='addForm' class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.issues_type.id_for_label }}"
                                   class="col-md-2 control-label">{{ form.issues_type.label }}</label>
                            <div class="col-md-10">
                                <div>
                                    <div>{{ form.issues_type }}</div>
                                    <div class="error-msg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.subject.id_for_label }}"
                                   class="col-md-2 control-label">{{ form.subject.label }}</label>
                            <div class="col-md-10">
                                <div>
                                    <div>{{ form.subject }}</div>
                                    <div class="error-msg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.module.id_for_label }}"
                                   class="col-md-2 control-label">{{ form.module.label }}</label>
                            <div class="col-md-10">
                                <div>
                                    {{ form.module }}
                                    <div class="error-msg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.desc.id_for_label }}"
                                   class="col-md-2 control-label">{{ form.desc.label }}</label>
                            <div class="col-md-10">
                                <div>
                                    <div id="editor">
                                        {{ form.desc }}
                                    </div>
                                    <div class="error-msg"></div>
                                </div>
                            </div>
                        </div>

                        <!--用栅格系统，将表单分为两列-->
                        <div class="form-group clearfix">
                            <!--左侧-->
                            <div class="col-md-6 pd-0">
                                <label for="{{ form.status.id_for_label }}"
                                       class="col-md-4 control-label">{{ form.status.label }}</label>
                                <div class="col-md-8 clearfix">
                                    {{ form.status }}
                                    <div class="error-msg"></div>
                                </div>
                            </div>
                            <!--右侧-->
                            <div class="col-md-6 pd-0">
                                <label for="{{ form.priority.id_for_label }}"
                                       class="col-md-4 control-label">{{ form.priority.label }}</label>
                                <div class="col-md-8 clearfix">
                                    <div>{{ form.priority }}</div>
                                    <div class="error-msg"></div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <!--左侧-->
                            <div class="col-md-6 pd-0">
                                <label for="{{ form.mode.id_for_label }}"
                                       class="col-md-4 control-label">{{ form.mode.label }}</label>
                                <div class="col-md-8 clearfix">
                                    <div>{{ form.mode }}</div>
                                    <div class="error-msg"></div>
                                </div>
                            </div>
                            <!--右侧-->
                            <div class="col-md-6 pd-0">
                                <label for="{{ form.parent.id_for_label }}"
                                       class="col-md-4 control-label">{{ form.parent.label }}</label>
                                <div class="col-md-8 clearfix">
                                    <div>{{ form.parent }}</div>
                                    <div class="error-msg"></div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <!--左侧-->
                            <div class="col-md-6 pd-0">
                                <label for="{{ form.assign.id_for_label }}"
                                       class="col-md-4 control-label">{{ form.assign.label }}</label>
                                <div class="col-md-8 clearfix">
                                    {{ form.assign }}
                                    <div class="error-msg"></div>
                                </div>
                            </div>
                            <!--右侧-->
                            <div class="col-md-6 pd-0">
                                <label for="{{ form.attention.id_for_label }}"
                                       class="col-md-4 control-label">{{ form.attention.label }}</label>
                                <div class="col-md-8 clearfix">
                                    {{ form.attention }}
                                    <div class="error-msg"></div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <!--左侧-->
                            <div class="col-md-6 pd-0">
                                <label for="{{ form.start_date.id_for_label }}"
                                       class="col-md-4 control-label">{{ form.start_date.label }}</label>
                                <div class="col-md-8 clearfix">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                        {{ form.start_date }}
                                    </div>

                                    <div class="error-msg"></div>
                                </div>
                            </div>
                            <!--右侧-->
                            <div class="col-md-6 pd-0">
                                <label for="{{ form.end_date.id_for_label }}"
                                       class="col-md-4 control-label">{{ form.end_date.label }}</label>
                                <div class="col-md-8 clearfix">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                        {{ form.end_date }}
                                    </div>

                                    <div class="error-msg"></div>
                                </div>

                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                    <button id='btnAddSubmit' type="button" class="btn btn-primary">添 加</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'plugin/editor-md/editormd.min.js' %}"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script>
        var WIKI_UPLOAD_URL = "{% url 'wiki_upload' project_id=request.tracer.project.id %}";
        var POST_ISSUES = "{% url 'issues' project_id=request.tracer.project.id %}";

        $(function () {
            // initEditorMd();
            bindBootStrapShownEvent();
            InitDatePicker();
            bindAddSubmit();
        });

        function InitDatePicker() {
            $('#id_start_date, #id_end_date').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '0',
                language: 'zh-CN',
                autoclose: true
            });
        }

        function bindBootStrapShownEvent() {
            $('#addModal').on('shown.bs.modal', function (event) {
                // 单击新建问题按钮后，弹出的MD编辑器不可编辑，是因为bootstrap跟markdown有一些不兼容
                // 通过这个函数，可以解决这个问题
                // 对话框弹出时，内容触发
                initEditorMd();
            })
        }

        function initEditorMd() {
            // 第一个参数就是需要应用editor的标签id
            editormd('editor', {
                placeholder: "请输入内容",
                height: 500,
                path: "{% static 'plugin/editor-md/lib/' %}",
                imageUpload: true, // 使能上传本地图片
                imageFormats: ['jpg', 'jpeg', 'png', 'gif'],
                imageUploadURL: WIKI_UPLOAD_URL, // 上传到哪个地址
            })
        }

        function bindAddSubmit() {
            $('#btnAddSubmit').click(function () {
                $('#addForm').find('.error-msg').empty();
                $.ajax({
                    url: POST_ISSUES,
                    type: "POST",
                    data: $('#addForm').serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        console.log(res);
                        if (res.status) {
                            location.href = location.href; // 刷新页面
                        } else {
                            // 错误信息
                            $.each(res.error, function (k, v) {
                                $('#id_' + k).parent().next('.error-msg').text(v[0]);
                            })
                        }
                    }
                })
            })
        }
    </script>
{% endblock %}
