{% extends 'layout/manage.html' %}

{% block css %}
    <style>
        .issues-list .number {
            width: 100px;
            text-align: right;
        }

        .issues-list .number a {
            font-weight: 500;
            padding: 0 10px;
        }

        .issues-list .issue .tags {
            padding: 10px 0;
        }

        .issues-list .issue .tags span {
            margin-right: 20px;
            display: inline-block;
            font-size: 12px;
        }

        .issues-list .issues .tags .type { /* 为什么这里的type未能被正确使用？*/
            color: white;
            padding: 1px 5px;
            border-radius: 5px;
        }
    </style>


{% endblock %}

{% block content %}
    <div class="container-fluid clearfix" style="padding: 20px 0;"> <!--整体框架，自带20pix的边距-->
        <!--左面板-->
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-search" aria-hidden="true"></i> 筛选
                </div>
                <div class="panel-body">
                    筛选选项
                </div>

            </div>
        </div>
        <!--右面板-->
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                    <a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="">新建问题</a>
                    <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="">邀请成员</a>
                </div>
                <table class="table">
                    <tbody class="issues-list">
                    <tr>
                        <td class="number">
                            <i class="fa fa-circle text-danger"></i>
                            <a target="_blank" href="/manage/27/issues/detail/10">#010</a>
                        </td>
                        <td class="issue">
                            <div>
                                <a target="_blank" href="/manage/27/issues/detail/10">测试</a>
                            </div>
                            <div class="tags">
                                <span class="type"
                                      style="background-color: #56b8eb; border-radius: 5px; padding: 1px 5px">
                                    功能
                                </span>
                                <span>
                                    <i class="fa fa-refresh" aria-hidden="true"></i> 已解决
                                </span>
                                <span>
                                    <i class="fa fa-user-o" aria-hidden="true"></i> zieft
                                </span>
                                <span>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> 2023年3月31日 14:25 更新
                                </span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="...">
                <ul class="pagination" style="margin-top: 0;">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
                    </li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>

    </div>
{% endblock %}

