{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}
    用户短信登陆
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
    .error-msg{
        color: red;
        position: absolute;
        font-size: 13px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="account">
        <h1 style="text-align: center">短信登陆</h1>
        <form id="smsForm" method="POST" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for={{ field.id_for_label }}>{{ field.label }}</label>
                        <div class="clearfix">
                            <div class="col-md-7" style="padding-left: 0;">
                                {{ field }}
                                <span class="error-msg"></span>
                            </div>
                            <div class="col-md-5">
                                <input id="btnSms" type="button" class="btn btn-default" value="点击获取验证码"> <!--id="btnSms"用于下面JavaScript绑定事件-->
                            </div>
                        </div>

                    </div>
                {% else %}
                    <div class="form-group">
                        <label for={{ field.id_for_label }}>{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg"></span><!--这个span里面就会显示错误信息-->
                    </div>
                {% endif %}
            {% endfor %}

            <button id="btnSubmit" type="button" class="btn btn-primary">登  陆</button>
        </form>
    </div>


{% endblock %}

{% block js %}
    <script>
    $(function () {
        bindClickBtnSms()
    });

    function bindClickBtnSms(){
            $('#btnSms').click(function (){
                $('.error-msg').empty(); // 每次用户点击按钮，先清除错误信息
                var mobilePhone = ($('#id_mobile_phone').val());

                // 发送ajax请求
                $.ajax({
                    url: "{% url 'send_sms' %}",
                    type: "GET",
                    data: { mobile_phone: mobilePhone, tpl: "login"},
                    dataType: "JSON", // 将服务端返回的数据序列字符串 变成 JSON格式
                    success: function (res){
                        // 如果ajax请求发送成功，并且获得后端返回来的res，则自动执行本函数
                        if(res.status){
                            // console.log("发送成功，进入倒计时")
                            sendSmsRemind();

                        }else{
                            // 错误信息
                            console.log(res); // {status:False, error:{mobile_phone:["错误信息"]}}
                            // $.each是jquery提供的for循环方法,
                            // 遍历所有res.error，每循环一次执行一次function
                            $.each(res.error,function (key,value){
                                $('#id_' + key).next().text(value) // 找id_mobile_phone标签下面的span标签，并显示错误信息
                            })
                        }
                    }
                })
            })

        }
    /*
        倒计时
*/
    function sendSmsRemind() {
            var $smsBtn = $('#btnSms'); // 找到按钮，并保存给一个变量smsBtn
            $smsBtn.prop('disabled', true); // 给按钮添加disabled属性
            var time = 60;
            var remind = setInterval(function (){
                $smsBtn.val(time+'秒后重新发送');

                time = time - 1;
                if (time<1){
                    clearInterval(remind);
                    $smsBtn.val('点击获取验证码').prop('disabled', false);
                }
            }, 1000)
        }

    </script>

{% endblock %}