{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}
    用户登陆
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
    .error-msg{
        color: red;
        position: absolute;
        font-size: 13px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="account">
        <h1 style="text-align: center">用户登陆</h1>
        <form id="smsForm" method="POST" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for={{ field.id_for_label }}>{{ field.label }}</label>
                        <div class="clearfix">
                            <div class="col-md-7" style="padding-left: 0;">
                                {{ field }}
                                <span class="error-msg">{{ field.errors.0 }}</span>
                            </div>
                            <div class="col-md-5">
                                <img src="{% url 'image_code' %}">
                            </div>
                        </div>

                    </div>
                {% else %}
                    <div class="form-group">
                        <label for={{ field.id_for_label }}>{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg">{{ field.errors.0 }}</span><!--区别于ajax请求，如果是表单submit，这里就要传入错误参数-->
                    </div>
                {% endif %}
            {% endfor %}

            <button type="submit" class="btn btn-primary">登  陆</button>
        </form>
    </div>


{% endblock %}

