{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}
    用户注册

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
    .error-msg{
        color: red;
        position: absolute;
        font-size: 13px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="account">
        <h1 style="text-align: center">注册</h1>
        <form id="regForm" method="POST" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <!--label for规定了label与哪个表单元素绑定-->
                        <label for={{ field.id_for_label }}>{{ field.label }}</label>
                        <!--form-control样式就是美化输入框的关键元素，同样可以在ModelForm中定义-->
                        <!--input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"-->
                        <div class="clearfix">
                            <div class="col-md-7" style="padding-left: 0;">
                                {{ field }}
                                <span class="error-msg"></span>
                            </div>
                            <div class="col-md-5">
                                <!--<button type="submit" class="btn btn-default">点击获取验证码</button>-->
                                <input id="btnSms" type="button" class="btn btn-default" value="点击获取验证码"> <!--id="btnSms"用于下面JavaScript绑定事件-->
                            </div>
                        </div>

                    </div>
                {% else %}
                    <div class="form-group">
                        <!--label for规定了label与哪个表单元素绑定-->
                        <label for={{ field.id_for_label }}>{{ field.label }}</label>
                        <!--form-control样式就是美化输入框的关键元素，同样可以在ModelForm中定义-->
                        <!--input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"-->
                        {{ field }}
                        <span class="error-msg"></span><!--这个span里面就会显示错误信息-->
                    </div>
                {% endif %}
            {% endfor %}

            <!--给按钮绑定事件，需要用到按钮的id-->
            <!--这里我们想用ajax来提交，所以把type换成button，而不用submit-->
            <button id="btnSubmit" type="button" class="btn btn-primary">注 册</button>
        </form>
    </div>


{% endblock %}

{% block js %}
    <script>
        // 页面框架加载完成后自动执行的函数
        $(function () {
            bindClickBtnSms();
            bindClickSubmit();
        });

        /*
        点击提交（注册）
        */
        function  bindClickSubmit() {
            $('#btnSubmit').click(function () {
                // 收集表单中的数据(找到每一个字段)
                // 下面这种写法可以一次性直接将表单里的所有键值取到并发到后台
                // 并且也可以收集csrf token
                // $('#regForm').serialize()
                // 数据ajax发送到后台
                // 一般从服务器端获取数据使用GET请求，而向服务器端发送数据用POST请求
                $.ajax({
                    url:"{% url 'register' %}", // url可以随便写，这里用register是为了省urL
                    type:"POST", // 要去urls.py中判断收到的是get还是post请求
                    data:$('#regForm').serialize(),
                    dataType:"JSON",
                    success:function (res) {
                        console.log(res);
                    }
                })
            })
        }
        /*
        * 点击获取验证码的按钮绑定事件
        * */
        function bindClickBtnSms(){
            $('#btnSms').click(function (){
                $('.error-msg').empty(); // 每次用户点击按钮，先清除错误信息
                // 获取用户输入的手机号
                // 从后端通过form传到前端的phone输入框没有显示的id，应该如何获取？
                // 通过浏览器的检查源码功能，可以看到，phone输入框有一个id，是required id = id_phone
                // 所以，form字段默认会在前端生成id：格式id_属性名
                var mobilePhone = ($('#id_mobile_phone').val());

                // 发送ajax请求
                $.ajax({
                    url: "{% url 'send_sms' %}", // http://www.xxx.com/index/?k1=123&k2=567
                    type: "GET",
                    // data: {k1: 123, k2: 567},
                    data: { mobile_phone: mobilePhone, tpl: "register"},
                    dataType: "JSON", // 将服务端返回的数据序列字符串 变成 JSON格式
                    success: function (res){
                        // 如果ajax请求发送成功，并且获得后端返回来的res，则自动执行本函数
                        if(res.status){
                            // console.log("发送成功，进入倒计时")
                            sendSmsRemind();

                        }else{
                            // 错误信息
                            console.log(res); // {status:False, error:{mobile_phone:["错误信息"]}}
                            // $.each是jquery提供的for循环方法,
                            // 遍历所有res.error，每循环一次执行一次function
                            $.each(res.error,function (key,value){
                                $('#id_' + key).next().text(value) // 找id_mobile_phone标签下面的span标签，并显示错误信息
                            })
                        }
                    }
                })
            })

        }
        /*
        倒计时
        */
        function sendSmsRemind() {
            var $smsBtn = $('#btnSms'); // 找到按钮，并保存给一个变量smsBtn
            $smsBtn.prop('disabled', true); // 给按钮添加disabled属性
            var time = 60;
            var remind = setInterval(function (){
                $smsBtn.val(time+'秒后重新发送');

                time = time - 1;
                if (time<1){
                    clearInterval(remind);
                    $smsBtn.val('点击获取验证码').prop('disabled', false);
                }
            }, 1000)
        }
    </script>

{% endblock %}
