{% extends 'layout/manage.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugin/editor-md/css/editormd.min.css' %}">
    <style>
        .title-list {
            border-right: 1px solid #dddddd;
            min-height: 500px;
        }

        .panel-default .panel-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .content {
            border-left: 1px solid #dddddd;
            min-height: 600px;
            margin-left: -1px; /*左移1个像素，使得左右两个边框重合*/
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-book" aria-hidden="true"></i>
                <div>wiki文档</div>
                <div class="function">
                    <a href="{% url 'wiki_add' project_id=request.tracer.project.id %}" type="button"
                       class="btn btn-success btn-xs">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> 新建
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-sm-3 title-list">
                    <ul id="catalog">
                        {# <li><a href=""></a></li> #}

                    </ul>

                </div>
                <div class="col-sm-9 content">
                    <div style="text-align: left">
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.name == 'content' %}
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        <div id="editor">
                                            {{ field }}
                                        </div>

                                        <span class="error-msg">{{ field.errors.0 }}</span>
                                    </div>
                                {% else %}
                                    <div class="form-group">
                                        <lable for="{{ firld.id_for_label }}">{{ field.label }}</lable>
                                        {{ field }}
                                        <span class="error-msg">{{ field.errors.0 }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">提 交</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'plugin/editor-md/editormd.min.js' %}"></script>
    <script>
        // 新建一个全局变量反向生成并保存跟路由地址 http://127.0.0.1/manage/2/wiki
        // 后面通过给a标签添加href属性拼接后面的?wiki_id=1
        var WIKI_DETAIL_URL = "{% url 'wiki' project_id=request.tracer.project.id %}";
        var WIKI_UPLOAD_URL = "{% url 'wiki_upload' project_id=request.tracer.project.id %}";

        $(function () {
            initCatalog();
            initEditorMd(); // 初始化编辑器
        });

        function initEditorMd() {
            // 第一个参数就是需要应用editor的标签id
            editormd('editor', {
                placeholder: "请输入内容",
                height: 500,
                path: "{% static 'plugin/editor-md/lib/' %}",
                imageUpload: true, // 使能上传本地图片
                imageFormats: ['jpg', 'jpeg', 'png', 'gif'],
                imageUploadURL: WIKI_UPLOAD_URL, // 上传到哪个地址
            })
        }

        function initCatalog() {
            $.ajax({
                url: "{% url 'wiki_catalog' project_id=request.tracer.project.id %}",
                type: 'GET',
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        $.each(res.data, function (index, item) {
                            // 动态生成文章网址
                            var href = WIKI_DETAIL_URL + '?wiki_id=' + item.id;
                            // 生成<li id='id_1'><a href="">目录名称</a></li>
                            var li = $('<li>').attr('id', 'id_' + item.id).append(
                                $('<a>').text(item.title).attr('href', href)).append(
                                $("<ul>")
                            );
                            if (!item.parent_id) {
                                // 添加到catalog中
                                $('#catalog').append(li)
                            } else {
                                // 找父文章的子标签<ul>，并在里面加入生成的<li>标签
                                $("#id_" + item.parent_id).children('ul').append(li) // children表示当前标签的内部标签
                            }
                        })
                    } else {

                    }
                }
            })
        }
    </script>
{% endblock %}
