{% extends 'layout/manage.html' %}

{% block css %}
    <style>
        .title-list {
            border-right: 1px solid #dddddd;
            min-height: 500px;
        }

        .panel-default .panel-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .content {
            border-left: 1px solid #dddddd;
            min-height: 600px;
            margin-left: -1px; /*左移1个像素，使得左右两个边框重合*/
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-book" aria-hidden="true"></i>
                <div>wiki文档</div>
                <div class="function">
                    <a href="{% url 'wiki_add' project_id=request.tracer.project.id %}" type="button"
                       class="btn btn-success btn-xs">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> 新建
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-sm-3 title-list">
                    <ul id="catalog">
                        {# <li><a href=""></a></li> #}

                    </ul>
                </div>
                <div class="col-sm-9 content">
                    <div style="text-align: center; margin-top: 50px">
                        <h4>《{{ request.tracer.project.name }}》wiki文档库</h4>
                        <a href="{% url 'wiki_add' project_id=request.tracer.project.id %}">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>新建文章

                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            initCatalog();
        });

        function initCatalog() {
            $.ajax({
                url: "{% url 'wiki_catalog' project_id=request.tracer.project.id %}",
                type: 'GET',
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        $.each(res.data, function (index, item) {
                            // 生成<li id='id_1'><a href="">目录名称</a></li>
                            var li = $('<li>').attr('id', 'id_' + item.id).append(
                                $('<a>').text(item.title)).append(
                                $("<ul>")
                            );
                            if (!item.parent_id) {
                                // 添加到catalog中
                                $('#catalog').append(li)
                            } else {
                                // 找父文章的子标签<ul>，并在里面加入生成的<li>标签
                                $("#id_" + item.parent_id).children('ul').append(li) // children表示当前标签的内部标签
                            }
                        })
                    } else {

                    }
                }
            })
        }
    </script>
{% endblock %}
